---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<div class="italic p-8 flex gap-4 justify-end">
			<HeaderLink href="/">Blog</HeaderLink>
			<HeaderLink href="https://mitchellhynes.com">My Website</HeaderLink>
		</div>
	</nav>
</header>