{% extends "base.html" %}
{% block title %}fogo.sh - {{ username }}{% endblock title %}
{% block head %}
    {{ super() }}
    <meta name="author" content="{{username}}">
{% endblock head %}
{% block content %}
    {{ super() }}
    <div class="profile">
        <img alt="{{ name }}'s avatar" src="{{ avatar_url }}" class="pic"></img>
        <div class="nametag">
            <h1>{{name}}</h1>
            <h2>{{tagline}}</h2>
        </div>
    </div>
    <div class="details">
        <div class="col">
            GitHub:<br/>
            Created On:<br/>
        </div>
        <div class="col">
            <div class="authors">
                <a href="https://github.com/{{username}}">github.com/{{username}}</a>
            </div>
            <div class="createdOn">{{ created_date }}</div>
        </div>
    </div>
    <div class="content">
    {{ html | safe }}
    </div>
{% endblock content %}