@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Inter:wght@400;700&display=swap");

:root {
  --text-color: #fbfaf8;
  --title-text-color: #d90429;
  --bg-color: #0a122a;
  --tagline-color: #0a122a;
  --details-border-color: #ba1200;
  --bg-contrast: #fbfaf8;
  --link: #ee6c4d;
  --check: #ba1200;
  --link-visited: #ec7b5f;
  --link-box: #fbfaf8;
  --link-box-visited: #e7decd;
  --select-bg-color: #546e7a;
  --select-text-color: #ffffff;
}

::selection {
  background-color: var(--select-bg-color);
  color: var(--select-text-color);
}

a {
  color: var(--link);
  text-decoration: none;
}

a:visited {
  color: var(--link-visited);
}

.socials {
  margin-left: auto;
}

html {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  max-width: 50em;
  margin: 0 auto;
  padding: 1rem;
}

pre {
  font-family: "Cutive Mono", monospace;
}

hr {
  border: 0;
  border-top: 2px solid var(--details-border-color);
  margin: 2rem 0;
}

main {
  margin-bottom: 1rem;
}

footer {
  font-style: italic;
  opacity: 0.5;
}

footer:hover {
  opacity: 1;
}

input[type="checkbox"] {
  position: relative;
  margin-right: 0.5rem;
}

input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0;
  left: 0;
  border: none;
  border-radius: 1px;
  background-color: var(--bg-contrast);
}

input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 4px;
  height: 9px;
  border: solid var(--check);
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 1px;
  left: 4px;
}

.details {
  border: 2px solid var(--details-border-color);
  padding: 1rem;
  margin: 1rem 0;
  background-color: var(--bg-contrast);
  color: var(--bg-color);
  display: flex;
  gap: 1rem;
}

.bpack {
  user-select: none;
  font-size: 2rem;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-2px);
  }
  20% {
    transform: translateX(2px);
  }
  30% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
  60% {
    transform: translateX(2px);
  }
  70% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  90% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

.bpack:hover {
  animation: shake 0.5s infinite;
}

.title {
  color: var(--title-text-color);
  font-size: 2rem;
}

@media screen and (max-width: 300px) {
  .intro {
    flex-direction: column;
  }
}

.intro {
  display: flex;
  padding: 0.5rem;
}

.intro-readme {
  padding: 1rem;
}

.intro ul {
  list-style-type: none;
  padding-left: 0;
}

p img {
  width: 100%;
}

.content {
  margin: 2rem 6rem;
}

.intro-readme p {
  margin: 0 0 1rem 0;
}

@media only screen and (max-width: 300px) {
  .content {
    margin: 0;
  }
}

main {
  margin: 1rem 0;
}

.tagline {
  color: var(--tagline-color);
}

.logo {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.logo img {
  width: 100%;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.links {
  display: flex;
  gap: 0.5rem;
}

.links a {
  color: var(--link-box);
}

.links a:visited {
  color: var(--link-box-visited);
}

.profile {
  display: flex;
}

.profile > .nametag {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  margin: 0.5rem;
}

.profile > .pic {
  width: 8rem;
}
