@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap");

:root {
  --text-color: #fff;
  --bg-color: #263238;
  --tagline-color: #89ddff;
  --details-border-color: #89ddff;
  --bg-contrast: #1e272c;
  --link: #82aaff;
  --link-visited: #c792ea;
  --select-bg-color: #546e7a;
  --select-text-color: #ffffff;
}

::selection {
  background-color: var(--select-bg-color);
  color: var(--select-text-color);
}

a {
  color: var(--link);
}

a:visited {
  color: var(--link-visited);
}

html {
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  padding: 1rem 0;
}

.details {
  border: 2px dashed var(--details-border-color);
  padding: 1rem;
  background-color: var(--bg-contrast);
}

.content {
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem;
}

.title {
  font-size: 2rem;
}

.tagline {
  color: var(--tagline-color);
}
