@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");

:root {
  --text-color: #fff;
  --bg-color: #263238;
  --tagline-color: #89ddff;
  --details-border-color: #89ddff;
  --bg-contrast: #1e272c;
  --link: #82aaff;
  --check: #82aaff;
  --link-visited: #c792ea;
  --select-bg-color: #546e7a;
  --select-text-color: #ffffff;
}

::selection {
  background-color: var(--select-bg-color);
  color: var(--select-text-color);
}

a {
  color: var(--link);
}

a:visited {
  color: var(--link-visited);
}

html {
  font-size: 1.25rem;
  font-family: "Cutive Mono", monospace;
  background-color: var(--bg-color);
  color: var(--text-color);
  max-width: 50em;
  margin: 0 auto;
  padding: 1rem;
}

header {
  padding: 1rem 0;
}

hr {
  border: 0;
  border-top: 2px solid var(--details-border-color);
  margin: 2rem 0;
}

main {
  margin-bottom: 1rem;
}

footer {
  font-style: italic;
  opacity: 0.5;
}

footer:hover {
  opacity: 1;
}

input[type="checkbox"] {
  position: relative;
  margin-right: 0.5rem;
}

input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0;
  left: 0;
  border: none;
  border-radius: 2px;
  background-color: var(--bg-contrast);
}

input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 4px;
  height: 9px;
  border: solid var(--check);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 3px;
  left: 7px;
}

.details {
  border: 2px solid var(--details-border-color);
  padding: 1rem;
  margin: 1rem 0;
  background-color: var(--bg-contrast);
  display: flex;
  gap: 1rem;
}

.title {
  font-size: 2rem;
}

.tagline {
  color: var(--tagline-color);
}

.logo {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.logo img {
  width: 100%;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.links {
  display: flex;
  gap: 0.5rem;
}

.profile {
  display: flex;
}

.profile > .nametag {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nametag > h1,
.nametag > h2 {
  margin: 0 1rem;
}

.profile > .pic {
  width: 8rem;
}
