@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Inter:wght@400;700&display=swap");

:root {
  --text-color: #fbfaf8;
  --title-text-color: #d90429;
  --bg-color: #0a122a;
  --text-code: #dcd9d3;
  --bg-code: #13111a;
  --bg-code-border: #2b273a;
  --tagline-color: #0a122a;
  --details-border-color: #ba1200;
  --bg-contrast: #fbfaf8;
  --link: #ee6c4d;
  --check: #ba1200;
  --link-visited: #ec7b5f;
  --link-box: #fbfaf8;
  --link-box-visited: #e7decd;
  --select-bg-color: #546e7a;
  --select-text-color: #ffffff;
}

::selection {
  background-color: var(--select-bg-color);
  color: var(--select-text-color);
}

* {
  transition: all 0.25s ease;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:visited {
  color: var(--link-visited);
}

.socials {
  margin-left: auto;
}

html {
  transition: all 0 ease;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  max-width: 50em;
  margin: 0 auto;
  padding: 1rem;
}

:not(pre) > code {
  padding: 0.2rem 0.45rem;
  color: var(--text-code);
  border: var(--bg-code-border) 1px solid;
  background: var(--bg-code);
  border-radius: 0.25rem;
}

pre {
  font-family: "Cutive Mono", monospace;
  overflow: auto;
  background: var(--bg-code);
  color: var(--text-code);
  padding: 0.5rem 1rem;
  border: var(--bg-code-border) 1px solid;
  border-radius: 0.5rem;
}

hr {
  border: 0;
  border-top: 2px solid var(--details-border-color);
  margin: 2rem 0;
}

main {
  margin-bottom: 1rem;
}

footer {
  font-style: italic;
  opacity: 0.5;
}

footer:hover {
  opacity: 1;
}

input[type="checkbox"] {
  position: relative;
  margin-right: 0.5rem;
}

input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0;
  left: 0;
  border: none;
  border-radius: 1px;
  background-color: var(--bg-contrast);
}

input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 4px;
  height: 9px;
  border: solid var(--check);
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 1px;
  left: 4px;
}

.details {
  border: 2px solid var(--details-border-color);
  padding: 1rem;
  margin: 1rem 0;
  background-color: var(--bg-contrast);
  color: var(--bg-color);
  display: flex;
  gap: 1rem;
}

.bpack {
  user-select: none;
  font-size: 2rem;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-2px);
  }
  20% {
    transform: translateX(2px);
  }
  30% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
  60% {
    transform: translateX(2px);
  }
  70% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  90% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

.bpack:hover {
  animation: shake 0.5s infinite;
}

.title {
  color: var(--title-text-color);
  font-size: 2rem;
}

@media only screen and (max-width: 784px) {
  .intro {
    flex-direction: column;
  }
}

.intro {
  display: flex;
  padding: 0.5rem;
}

.intro h1,
.intro h2,
.intro h3,
.intro h4 {
  margin: 0 0 0.5rem 0.5rem;
}

.intro-readme {
  position: relative;
  padding: 1rem;
}

.intro-me {
  z-index: -1;
  position: absolute;
  opacity: 0.6;
  bottom: 0;
  right: 0;
}

.intro-me img {
  width: 100%;
}

legend {
  transform: rotate(-5deg);
  transition: all none;
  transition-delay: 2s;
  font-weight: 700;
  background-color: var(--bg-contrast);
  color: var(--details-border-color);
  padding: 0.15rem 0.25rem;
}

fieldset {
  transition: none;
  background-position: right;
  background-image: url(/me.png);
  background-size: 4rem;
  background-repeat: no-repeat;
  padding-right: 4rem;
  background-blend-mode: luminosity;
  background-color: var(--tagline-color);
  border-color: var(--details-border-color);
}

@media only screen and (max-width: 784px) {
  .intro-me img {
    opacity: 0.1;
  }
}

.intro ul {
  list-style-type: none;
  padding-left: 0;
}

p {
  margin-top: 2rem;
}

p img {
  width: 100%;
}

.content {
  margin: 2rem 6rem;
}

.intro-readme p {
  margin: 0 0 1rem 0;
}

@media only screen and (max-width: 784px) {
  .content {
    margin: 0;
  }
}

main {
  margin: 1rem 0;
}

.tagline {
  color: var(--tagline-color);
}

.logo {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.logo img {
  width: 100%;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.links {
  display: flex;
  gap: 0.5rem;
}

.links a {
  color: var(--link-box);
}

.links a:visited {
  color: var(--link-box-visited);
}

.profile {
  display: flex;
}

.profile > .nametag {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  margin: 0.5rem 0;
}

.profile > .pic {
  width: 8rem;
}

header {
  margin-bottom: 2rem;
}

svg {
  cursor: pointer;
  overflow: visible;
  width: 40px;
  margin: 10px;
}

svg #heart {
  transform-origin: center;
  animation: animateHeartOut 0.3s linear forwards;
}

svg #main-circ {
  transform-origin: 29.5px 29.5px;
}

.like-button {
  display: none;
}

.like-container {
  position: absolute;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  top: 2rem;
  right: 0;
  color: var(--text-color);
}

@media only screen and (min-width: 1058px) {
  .like-container {
    top: 0;
  }
}

.like-button:checked + label svg #heart {
  transform: scale(0.2);
  fill: #e2264d;
  animation: animateHeart 0.3s linear forwards 0.25s;
}

.like-button:checked + label svg #main-circ {
  transition: all 2s;
  animation: animateCircle 0.3s linear forwards;
  opacity: 1;
}

.like-button:checked + label svg #grp1 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.like-button:checked + label svg #grp1 #oval1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.like-button:checked + label svg #grp1 #oval2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.like-button:checked + label svg #grp2 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.like-button:checked + label svg #grp2 #oval1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.like-button:checked + label svg #grp2 #oval2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.like-button:checked + label svg #grp3 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.like-button:checked + label svg #grp3 #oval1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.like-button:checked + label svg #grp3 #oval2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.like-button:checked + label svg #grp4 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.like-button:checked + label svg #grp4 #oval1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.like-button:checked + label svg #grp4 #oval2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.like-button:checked + label svg #grp5 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.like-button:checked + label svg #grp5 #oval1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.like-button:checked + label svg #grp5 #oval2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.like-button:checked + label svg #grp6 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.like-button:checked + label svg #grp6 #oval1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.like-button:checked + label svg #grp6 #oval2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.like-button:checked + label svg #grp7 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.like-button:checked + label svg #grp7 #oval1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.like-button:checked + label svg #grp7 #oval2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.like-button:checked + label svg #grp2 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.like-button:checked + label svg #grp3 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.like-button:checked + label svg #grp4 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.like-button:checked + label svg #grp5 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.like-button:checked + label svg #grp6 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.like-button:checked + label svg #grp7 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #dd4688;
  }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: #d46abf;
  }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: #cc8ef5;
  }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.5;
  }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.2;
  }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.1;
  }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0;
  }
}

@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
