{% extends "base.html" %} {% block title %}mitchellhynes.com - {{ title }}{%
endblock title %} {% block head %} {{ super() }}
<meta name="author" content="Mitchell Hynes" />
{% endblock head %} {% block content %} {{ super() }}
<h1>{{ title }}</h1>
<a href="/blog/">👈 Other posts</a>
<div class="details">
  <div class="col">
    Created On:<br />
    Last Modified On:<br />
  </div>
  <div class="col">
    <div class="createdOn">{{ created_date }}</div>
    <div class="lastModifiedDate">{{ last_modified_date }}</div>
  </div>
</div>
<div class="content">{{ html | safe }}</div>
{% endblock content %}
