<!DOCTYPE html>
<html lang="en-US">
  <head>
    {% block head %}
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/index.css" />
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    <title>{% block title %}{% endblock title %}</title>
    {% endblock head %}
  </head>
  <body>
    {% block header %}
    <header>
      <div class="links">
        <div>
          <a href="/">home</a> |
          <a href="/blog/">projects</a>
          <div class="like-container">
            <input type="checkbox" class="like-button" id="like-button" />
            <label class="like-button-label" for="like-button">
              <svg
                id="heart-svg"
                viewBox="467 392 58 57"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g
                  id="Group"
                  fill="none"
                  fill-rule="evenodd"
                  transform="translate(467 392)"
                >
                  <path
                    d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z"
                    id="heart"
                    fill="#AAB8C2"
                  />
                  <circle
                    id="main-circ"
                    fill="#E2264D"
                    opacity="0"
                    cx="29.5"
                    cy="29.5"
                    r="1.5"
                  />

                  <g id="grp7" opacity="0" transform="translate(7 6)">
                    <circle id="oval1" fill="#9CD8C3" cx="2" cy="6" r="2" />
                    <circle id="oval2" fill="#8CE8C3" cx="5" cy="2" r="2" />
                  </g>

                  <g id="grp6" opacity="0" transform="translate(0 28)">
                    <circle id="oval1" fill="#CC8EF5" cx="2" cy="7" r="2" />
                    <circle id="oval2" fill="#91D2FA" cx="3" cy="2" r="2" />
                  </g>

                  <g id="grp3" opacity="0" transform="translate(52 28)">
                    <circle id="oval2" fill="#9CD8C3" cx="2" cy="7" r="2" />
                    <circle id="oval1" fill="#8CE8C3" cx="4" cy="2" r="2" />
                  </g>

                  <g id="grp2" opacity="0" transform="translate(44 6)">
                    <circle id="oval2" fill="#CC8EF5" cx="5" cy="6" r="2" />
                    <circle id="oval1" fill="#CC8EF5" cx="2" cy="2" r="2" />
                  </g>

                  <g id="grp5" opacity="0" transform="translate(14 50)">
                    <circle id="oval1" fill="#91D2FA" cx="6" cy="5" r="2" />
                    <circle id="oval2" fill="#91D2FA" cx="2" cy="2" r="2" />
                  </g>

                  <g id="grp4" opacity="0" transform="translate(35 50)">
                    <circle id="oval1" fill="#F48EA7" cx="6" cy="5" r="2" />
                    <circle id="oval2" fill="#F48EA7" cx="2" cy="2" r="2" />
                  </g>

                  <g id="grp1" opacity="0" transform="translate(24)">
                    <circle id="oval1" fill="#9FC7FA" cx="2.5" cy="3" r="2" />
                    <circle id="oval2" fill="#9FC7FA" cx="7.5" cy="2" r="2" />
                  </g>
                </g>
              </svg>
            </label>
            <div id="like-count">0</div>
            likes
          </div>
        </div>
        <div class="socials">
          <a href="https://github.com/ecumene">github</a> |
          <a href="https://twitter.com/hates_bitcoin">twitter</a> |
          <a href="https://linkedin.com/in/mitchell-hynes/">linkedin</a>
        </div>
      </div>
    </header>
    {% endblock header %}
    <main>{% block content %} {% endblock content %}</main>
    {% block footer %}
    <hr />
    <footer>
      <b>Copyright 2021 mitchellhynes.com</b> Any and all opinions listed here
      are my own and not representative of my employers; past, present, and
      future. Written in Rust 🦀 with 💖.
      <a href="https://github.com/ecumene/mitchellhynes.com">
        Clone the source.</a
      >
    </footer>
    {% endblock footer %}
  </body>
  <script src="/page.js"></script>
</html>
