{% extends "base.html" %}
{% block title %}mitchellhynes.com{% endblock title %}
{% block header %}
<div class="links">
    <a href="https://github.com/ecumene">github</a> |
    <a href="/blog/">projects</a>
</div>
{% endblock header %}
{% block content %}
    <div class="intro">
        <div>
            <div class="bpack">🎒</div>
        </div>
        <div>
            <h1>mitchell hynes</h1>
            <h3>Full-Stack Engineer, Coach, Student</h3>
            <div class="intro-readme">
                {{ readme | safe }}
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer %}
{% endblock footer %}